<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>आगे-पीछे</title>
    <link href="Scripts/jquery-ui.css" rel="stylesheet" />
    <link href="Scripts/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/mobileui.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.12.4.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script src="Scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/wordlist1.js" type="text/javascript"></script>
    <script src="Scripts/CorrectWordApp.js" type="text/javascript"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="js/utility.js"></script>
    <style>        
        /*body{
            background-image:url(Image/Word-Repair-layout.png);
        }*/
    </style>
</head>
<body class="bg1" ng-app="WordApp" ng-controller="CorrectController as c" id="background1">      
    <div style="background-image:url(Image/Preloader_3.gif);" class="se-pre-con col-lg-12 col-md-12 col-xs-12 col-sm-12"></div>  
		<div id="toprow" class="row" style="position: absolute;right: 0px;top: 0px;z-index: -1;margin:0px;">
            <div class="pull-right" style="padding:0px;">
                <img id="prathamlogo" class="prathamlogo"/>
            </div>
        </div> 
		<div id="toprow" class="row" style="position: absolute;left: 0px;top: 0px;z-index: 1;margin:0px;" ng-click="btnGoHome() ">
            <div class="pull-left" style="padding:0px;" >
                <img id="btnhome" class="home" src="image/Home.png" />
            </div>
        </div> 
    <div id="playagain" class="row text-center" ng-show="dvplayagain">
        <div id="playagain1">
            <p id="congrats">शुक्रिया</p>
            <p> आप के गुण :{{score}}</p>
            <button id="btnplay" class="btn btn-default" style="padding:0px;border:none;background-color: transparent;" ng-click="playAgain()">
                <img class="play1" id="checkthis" />
            </button>
        </div>
    </div>

    <div class="" ng-hide="dvheader" id="dvhead">
	<!--  -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<!-- -->
		</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        </div>
    </div>

    <div ng-hide="dvgame">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="game">
		<div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                </div>
				</div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="timescore">
                    <div class="row textaline">
                           समय   :{{maxsec}}
                    </div>
                    <div class="row">
                           गुण :{{score}}
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6" ng-hide="btncheck" >
                    <ul id="sortable">
                        <li class="ui-state-default" data-myattr="{{a}}" ng-repeat="a in randomword">{{a}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div id="idcontrol" class="row text-center" ng-hide="dvcontrol">
                        <button id="btnname" class="btn btn-default" style="padding:0px;border:none;background-color: transparent;" ng-click="Check()">
                            <img class="Check" id="checkthis" />
                        </button>
                        <button id="btnnext" class="btn btn-default" ng-click="Next()" style="border:none;background-color: transparent;">
                            <img class="Next" id="nextthis" />
                        </button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        </div>
        <div id="createword" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="text-center row" id="rightword"></div>
            <div class="text-center row" id="rightanswer">
                <div id="rightanswerlist" ng-repeat="item in items | orderBy:[]:true">{{item.name}}</div>
            </div>
        </div>
        <div >
            <div class="pull-right monkey" id="dvmonkey"></div>
        </div>	
		
		<div class="modal fade" id="myModal" role="dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">                      
						<div class="row">
							<span class="text-center"><img id="imgjokpa" class="imgjokpa" /></span>
						</div>  
						<div class="row h2 text-center">Do you want more time?</div>                 
						<div class="row text-center">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right"><img ng-click="timergain()" class="doneimg" /></div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left"><img ng-click="playAgain2()" class="closeimg" /></div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div> 
    </div>	
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
    <script>
    $(document).ready(function () {
        $(".se-pre-con").fadeIn('slow').delay(4000).hide(0);
    });
    </script>
</body>
</html>